@model NdtK22CNT4Lesson11_2210900071.Models.NdtProduct

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Ndt2210900071Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NdtProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NdtProName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NdtProName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NdtQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NdtQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NdtPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NdtPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NdtCateId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NdtCateId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NdtActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NdtActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ndtid2210900071 }) |
    @Html.ActionLink("Back to List", "NdtIndex")
</p>
