@model NguyenDanhTruong_2210900071.Models.NDT_SACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_NdtLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NDT_SACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ndt_TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ndt_TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ndt_SoTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ndt_SoTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ndt_NamXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ndt_NamXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ndt_TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ndt_TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NDT_TACGIA.Ndt_TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NDT_TACGIA.Ndt_TenTacGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ndt_MaSach }) |
    @Html.ActionLink("Back to List", "NdtIndex")
</p>
