
@{
    ViewBag.Title = "NdtCustomerDetail";
}

<h2>thongo tin khách hàng </h2>
<div class="alert alert-danger">
    <h3>mã số : @ViewBag.customer.CustomerId</h3>
    <p>Họ và tên : @ViewBag.customer.FirstName @ViewBag.customer.LastName</p>
    <p>Họ và tên : @ViewBag.customer.Address </p>
    <p>Họ và tên : @ViewBag.customer.YearofBirth</p>

</div>

